.appointment-picker {
  display: flex;
  flex-direction: row;

  text-align: center;
  justify-content: center;
  align-items: center;
  width: max-content;

  & > *:not(:last-child){
    margin-right: 0.2rem;
  }

  &__col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    & > *:not(:last-child){
      margin-bottom: 0.2rem;
    }

    &__name{
      font-weight: normal;
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: $color-col-name;
    }

    &--enabled{
      &:hover {
        background-color: $color-col-selection;
      }
    }
    
    &--selected{
      background-color: $color-col-selection;
    }

    &--enabled:hover > &__number{
      font-weight: 600;
    }

    &--selected > &__number{
      font-weight: 600;
    }
  }
}