$color-primary: #4FC3F7;
$color-secondary: #03A9F4;
$color-tertiary: #4CAF50;
$color-loading:rgba(240,240,240,0.9);
$color-appointment-reserved: #E0E0E0;
$color-appointment-time: #fff;
$color-col-name: #9E9E9E;
$color-col-selection: #F5F5F5;
